.section-title > .accent {
  color: var(--text-accent);
}

.section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 40px;
  text-align: center;

  @media screen and (max-width: 860px) {
    padding: 40px 24px;
  }

  &.event {
    padding: 40px 40px 80px;

    @media screen and (max-width: 860px) {
      padding: 40px 24px;
    }
  }
}

.event-table {
  margin: 40px auto 0;

  @media screen and (max-width: 860px) {
    display: block;
  }

  & tbody,
  & tr,
  & th,
  & td {
    @media screen and (max-width: 860px) {
      display: block;
    }
  }

  & tr {
    @media screen and (max-width: 860px) {
      padding: 24px 0;
      border-bottom: 1px solid var(--surface-tertiary);
    }
  }

  & th,
  & td {
    padding: 16px 0;
    border-bottom: 1px solid var(--surface-tertiary);

    @media screen and (max-width: 860px) {
      padding: 0;
      border-bottom: none;
    }
  }

  & th {
    @media screen and (max-width: 860px) {
      margin-bottom: 16px;
    }
  }

  & td {
    text-align: left;
    padding-left: 40px;
    font-weight: 700;

    @media screen and (max-width: 860px) {
      padding-left: 0;
      text-align: center;
    }
  }

  .chip {
    width: 100%;

    @media screen and (max-width: 860px) {
      width: 160px;
    }
  }
}

.sponsorship {
  & .cta-button {
    margin-top: 24px;
  }
}
