---
import Chip from "../../components/Chip.astro";
import MainVisual from "../../components/MainVisual.astro";
import FluidLayout from "../../layouts/FluidLayout.astro";
import "../../styles/top-page.css";
import SponsorBoard from "../../components/SponsorBoard.astro";
---

<style>
  /* 英語サイトだけ先頭1文字目のカラーリングを無効 */
  .section.event .section-title::first-letter {
    color: inherit;
  }
</style>

<FluidLayout>
  <MainVisual />
  <section class="section event">
    <h2 class="section-title">
      What is <span class="accent">Go Conference</span>?
    </h2>
    <p>
      Go Conference is a conference for users of the programming language "Go".
    </p>
    <table class="event-table">
      <tbody>
        <tr>
          <th><Chip class="chip" variant="secondary">Date & Time</Chip></th>
          <td>
            <p>
              Day 1<br />
              Saturday, September 27, 2025<br />
            </p>
            <p>
              Day 2<br />
              Sunday, September 28, 2025<br />
            </p>
          </td>
        </tr>
        <tr>
          <th><Chip class="chip" variant="secondary">Venue</Chip></th>
          <td>Abema Towers 10F / 11F, 40-1 Udagawacho, Shibuya-ku, Tokyo</td>
        </tr>
        <tr>
          <th><Chip class="chip" variant="secondary">Fee</Chip></th>
          <td>
            <span>General:</span>5,000 yen (tax included)<br />
            <span>Student:</span>1,000 yen (tax included)
          </td>
        </tr>
      </tbody>
    </table>
  </section>
  <section class="section">
    <h2 class="section-title">
      <span class="accent">S</span>ponsors
    </h2>
    <SponsorBoard />
  </section>
</FluidLayout>
