---
import Button from "../../components/Button.astro";
import Chip from "../../components/Chip.astro";
import Layout from "../../layouts/Layout.astro";
import "../../styles/proposal.css";
---

<Layout title="プロポーザル" titleEn="Proposal">
  <main>
    <h2 class="section-title">Call for Proposals</h2>

    <p class="description">Go Conference is calling for proposals.</p>

    <div class="info-box">
      <div class="period-container">
        <h3 class="period-title">
          <Chip variant="secondary">Submission Period</Chip>
        </h3>
        <div class="period-date">2025/05/13 12:00:00 ~ 2025/06/18 23:59:59</div>
      </div>
      <div class="button-wrapper">
        <Button
          href="https://sessionize.com/go-conference-2025/"
          size="large"
          target="_blank">Apply Here</Button
        >
      </div>
    </div>
  </main>
</Layout>
