---
import Button from "../../components/Button.astro";
import Chip from "../../components/Chip.astro";
import { constants } from "../../constants";
import Layout from "../../layouts/Layout.astro";
import "../../styles/sub-page.css";
import { formatDate } from "../../utils/dateFormat";

const currentLocale = Astro.currentLocale || "ja";
---

<Layout title="プロポーザル" titleEn="Proposal">
  <h2 class="section-title">Call for Proposals</h2>
  <div class="contents">
    <p>Go Conference is calling for proposals.</p>
    <div class="summary">
      <h3 class="sponsorship-title">
        <Chip variant="secondary">Submission Period</Chip>
      </h3>
      <div class="sponsorship-date">
        <p class="inner">
          <span>{formatDate(constants.proposal.start, currentLocale)}</span>
          <span>~</span>
          <span>{formatDate(constants.proposal.end, currentLocale)}</span>
        </p>
      </div>
    </div>
    <p>
      <Button
        href="https://sessionize.com/go-conference-2025/"
        size="large"
        target="_blank">Apply Here</Button
      >
    </p>
  </div>
</Layout>
