---
import Button from "../../components/Button.astro";
import Chip from "../../components/Chip.astro";
import { constants } from "../../constants";
import Layout from "../../layouts/Layout.astro";
import "../../styles/sub-page.css";
import { formatDate } from "../../utils/dateFormat";

const currentLocale = Astro.currentLocale || "ja";
---

<Layout title="プロポーザル" titleEn="Proposal">
  <h2 class="section-title">Call for Proposals</h2>
  <div class="contents">
    <p>The call for proposals has ended.</p>
    <p>Thank you for all the submissions we received.</p>
  </div>
</Layout>
