---
import Layout from "../../layouts/Layout.astro";
import "../../styles/sub-page.css";
---

<Layout title="スポンサー" titleEn="Sponsorship">
  <h2 class="section-title">Call for Sponsors</h2>
  <div class="contents">
    <p>Sponsor recruitment for Go Conference 2025 has ended.</p>
    <p>Thank you very much for the many sponsor applications we received.</p>
  </div>
</Layout>
