---
import Layout from "../../layouts/Layout.astro";
import "../../styles/sub-page.css";

const currentLocale = Astro.currentLocale || "ja";
---

<Layout title="スポンサー" titleEn="Sponsorship">
  <h2 class="section-title">Call for Sponsors</h2>
  <div class="contents">
    <p>The call for sponsors has ended.</p>
    <p>Thank you for all the submissions we received.</p>
  </div>
</Layout>
