---
import { getRelativeLocaleUrl } from "astro:i18n";
import Button from "../components/Button.astro";
import Chip from "../components/Chip.astro";
import MainVisual from "../components/MainVisual.astro";
import FluidLayout from "../layouts/FluidLayout.astro";
import "../styles/top-page.css";
import JobBoard from "../components/JobBoard.astro";

const currentLocale = Astro.currentLocale || "ja";
---

<FluidLayout>
  <MainVisual />
  <section class="section event">
    <h2 class="section-title">
      <span class="accent">Go Conference</span>とは
    </h2>
    <p>
      Go Conference はプログラミング言語
      ”Go”ユーザーのためのカンファレンスです。
    </p>
    <table class="event-table">
      <tbody>
        <tr>
          <th><Chip class="chip" variant="secondary">開催日時</Chip></th>
          <td>
            Day 1: 2025年9月27日（土）<br />
            Day 2: 2025年9月28日（日）
          </td>
        </tr>
        <tr>
          <th><Chip class="chip" variant="secondary">開催場所</Chip></th>
          <td>東京都渋谷区宇田川町40番1号 Abema Towers 10F / 11F</td>
        </tr>
        <tr>
          <th><Chip class="chip" variant="secondary">参加費</Chip></th>
          <td>未定</td>
        </tr>
      </tbody>
    </table>
  </section>
  <section class="section">
    <h2 class="section-title">
      <span class="accent">ス</span>ポンサー
    </h2>
    <JobBoard />
  </section>
</FluidLayout>
