---
import Layout from "../layouts/Layout.astro";
---

<style>
  .container {
    display: flex;
    max-width: 100%;
    height: 40em;

    align-items: center;
    justify-content: center;
  }

  .card {
    padding: 8px 16px;

    background-color: #e6e6e6;
    border-radius: 4px;
  }
</style>

<Layout title="Go Conference 2025">
  <main>
    <h1>Go Conference 2025</h1>
    <div style="display: flex; flex-wrap: wrap;">
      <span>Go Conference 2025 の公式ページになります</span>
      <span></span>
    </div>
    <div style="display: flex; flex-wrap: wrap;">
      <span>本ページは随時更新予定なのでご了承ください</span>
    </div>
    <div style="display: flex; flex-wrap: wrap;"></div>
    <div class="container">
      <div>
        <div class="card">
          <h3 style="margin: 0; padding: 8px;">
            現段階(2025年5月13日)での情報になります
          </h3>
          <ul>
            <li>
              <span style="font-weight: bold">開催日時：</span>
              <ul>
                <li>2025年9月27日(土)〜2025年9月28日(日)</li>
              </ul>
            </li>
            <li>
              <span style="font-weight: bold">会場：</span>
              <ul>
                <li>東京都渋谷区宇田川町40番1号 Abema Towers</li>
              </ul>
            </li>
            <li>
              <span style="font-weight: bold">セッション CfS募集：</span>
              <ul>
                <li>
                  <a
                    href="https://sessionize.com/go-conference-2025/"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    応募はこちら
                  </a>
                </li>
                <li>締切: 2025年06月18日(水) 23:59:59</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </main>
</Layout>
