---
import Layout from "../layouts/Layout.astro";
import "../styles/sub-page.css";
---

<Layout title="プロポーザル" titleEn="Proposal">
  <h2 class="section-title">プロポーザルの募集について</h2>
  <div class="contents">
    <p>プロポーザルの募集は終了いたしました。</p>
    <p>たくさんのご応募をいただき、ありがとうございました。</p>
  </div>
</Layout>
