---
import Button from "../components/Button.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/proposal.css";
---

<Layout title="プロポーザル" titleEn="Proposal">
  <main>
    <h2 class="section-title">プロポーザルの募集について</h2>

    <p class="description">Go Conferenceではプロポーザルを募集します。</p>

    <div class="info-box">
      <div class="period-container">
        <div class="period-badge">募集期間</div>
        <div class="period-date">2025/05/13 12:00:00 ~ 2025/06/18 23:59:59</div>
      </div>
      <div class="button-wrapper">
        <Button
          href="https://sessionize.com/go-conference-2025/"
          size="large"
          target="_blank">申し込みはこちら</Button
        >
      </div>
    </div>
  </main>
</Layout>
