---
import Button from "../components/Button.astro";
import Chip from "../components/Chip.astro";
import { constants } from "../constants";
import Layout from "../layouts/Layout.astro";
import "../styles/sub-page.css";
import { formatDate } from "../utils/dateFormat";
---

<Layout title="スポンサー" titleEn="Sponsorship">
  <h2 class="section-title">スポンサーの募集について</h2>
  <div class="contents">
    <p>スポンサーの募集は終了いたしました。</p>
    <p>たくさんのご応募をいただき、ありがとうございました。</p>
  </div>
</Layout>
