---
import Layout from "../layouts/Layout.astro";
import "../styles/sub-page.css";
---

<Layout title="スポンサー" titleEn="Sponsorship">
  <h2 class="section-title">スポンサーの募集について</h2>
  <div class="contents">
    <p>Go Conference 2025のスポンサー募集は終了いたしました。</p>
    <p>
      たくさんのスポンサーの皆様にご応募いただき、誠にありがとうございました。
    </p>
  </div>
</Layout>
