---
import Button from "../components/Button.astro";
import CommonTimetableCard from "../components/CommonTimetableCard.astro";
import TimetableList from "../components/TimetableList.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/sub-page.css";
import "../styles/timetable.css";
---

<style>
  .section-title .day-date {
    margin-left: 16px;
    font-size: 24px;
    vertical-align: text-bottom;
  }

  .timetable-nav {
    margin-bottom: 40px;

    & ul {
      display: flex;
      gap: 24px;
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }

  .timetable-article + .timetable-article {
    margin-top: 80px;
  }

  .timetable-grid {
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr;
    gap: 8px 16px;
    width: 100%;
  }

  .room-title {
    padding: 16px 40px;
    border-radius: 16px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
    background-color: var(--primitive-cyan);
    color: var(--text-on-fill);
    text-align: center;

    &.room-a {
      background-color: var(--primitive-blue);
    }
  }
</style>

<Layout title="タイムテーブル" titleEn="Timetable">
  <nav class="timetable-nav">
    <ul>
      <li>
        <Button href="#day1" size="small" variant="secondary">DAY1</Button>
      </li>
      <li>
        <Button href="#day2" size="small" variant="secondary">DAY2</Button>
      </li>
    </ul>
  </nav>

  <article class="timetable-article">
    <h2 id="day1" class="section-title">
      DAY1<span class="day-date">9.27 SAT</span>
    </h2>
    <div class="timetable-grid">
      <!-- ヘッダー行 -->
      <div></div>
      <div class="room-title room-a">RoomA</div>
      <div class="room-title room-b">RoomB-1</div>
      <div class="room-title room-b">RoomB-2</div>
      <TimetableList eventDate="2025-09-27" />
    </div>
  </article>

  <article class="timetable-article">
    <h2 id="day2" class="section-title">
      DAY2<span class="day-date">9.28 SUN</span>
    </h2>
    <div class="timetable-grid">
      <!-- ヘッダー行 -->
      <div></div>
      <div class="room-title room-a">RoomA</div>
      <div class="room-title room-b">RoomB-1</div>
      <div class="room-title room-b">RoomB-2</div>
      <TimetableList eventDate="2025-09-28" />
    </div>
  </article>
</Layout>
